<div class="row page-titles">
    <div class="col-12 animated fadeInUp">
        <div class="card cardtop">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-9 align-self-center">
                        <h3 class="text-themecolor">{{title}}</h3>
                    </div>
                    <div class="col-12 col-sm-3 botones pull-right">
                        <button class="btn btn-outline-danger" href="javascript:void(0)" (click)="goBack()">Volver</button>
                        <!--button class="btn btn-success" [routerLink]="['/fotoceo/create/']">Agregar Nuevo</button-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- ============================================================== -->
<!-- Activity widget find scss into widget folder-->
<!-- ============================================================== -->
<div class="row">
    <div class="card col-12 animated fadeInUp">
        <div class="card-body">
            <div class="table-responsive">

                <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list footable-loaded footable">
                    <thead>
                        <tr class="text-center">
                            <th class="footable-sortable">No<span class="footable-sort-indicator"></span></th>
                            <th class="footable-sortable">Image<span class="footable-sort-indicator"></span></th>
                            <th class="footable-sortable">Titulo<span class="footable-sort-indicator"></span></th>
                            <th class="footable-sortable">Periodo<span class="footable-sort-indicator"></span></th>
                            <th class="footable-sortable">Acciones<span class="footable-sort-indicator"></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="footable-even" *ngFor="let fceo of fotoceos | slice: 0:1">
                            <td><span class="footable-toggle"></span>{{fceo.id}}</td>
                            <td><img src="{{fceo.image}}" alt="{{fceo.titulo}}" style="width: 240px; height: auto;"></td>
                            <td>{{fceo.titulo}}</td>
                            <td>{{fceo.periodo}}</td>
                            <td>
                                <!--button class="btn btn-sm btn-outline-danger" (click)="onDelete(fceo.id)"><i class="fa fa-trash"></i>Borrar</button-->
                                <a [routerLink]="['/fotoceo/edit', fceo.id]"><button class="btn btn-sm btn-outline-success"><i class="fa fa-pencil"></i>Editar </button></a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>