<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a routerLink="/admin" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-bullseye"></i><span class="hide-menu">Home </span>
                    </a>
                </li>

                <!--Directorio menu-->
                <li class="nav-item dropdown">
                    <a class="has-arrow dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-book"></i><span class="hide-menu">Directorio</span>
                    </a>
                    <ul aria-expanded="false" class="collapse dropdown-menu ">
                        <li>
                            <a routerLink="/directorio" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-book"></i><span>Admin. Directorio </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/afiliaciones" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-book"></i><span>Afiliaciones </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Directorio menu-->
                <!--Directiva menu-->
                <li class="nav-item dropdown">
                    <a class="has-arrow dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-book"></i><span class="hide-menu">Directiva</span>
                    </a>
                    <ul aria-expanded="false" class="collapse dropdown-menu">
                        <li>
                            <a routerLink="/ceo" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-book"></i><span>Directiva </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/dirregional" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-book"></i><span>Directiva Regional</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/fotoceo" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-attachment  "></i><span>Foto Ppal. Directiva </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Directiva menu-->
                <!--Blog menu-->
                <li class="nav-item dropdown">
                    <a class="has-arrow dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-book"></i><span class="hide-menu">Blog</span>
                    </a>
                    <ul aria-expanded="false" class="collapse dropdown-menu">
                        <li>
                            <a routerLink="/blog" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-newspaper"></i><span>Blog </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/pacientes" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-newspaper"></i><span>Tips Pacientes </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/formacion" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-newspaper"></i><span>Serv. Formación </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Blog menu-->
                <!--Documentación menu-->

                <li class="nav-item dropdown">
                    <a class="has-arrow dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-book"></i><span class="hide-menu">Documentación</span>
                    </a>
                    <ul aria-expanded="false" class="collapse dropdown-menu">
                        <li>
                            <a routerLink="/documentos" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-file-document"></i><span>Documentos </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/galeria" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-image-album"></i><span>Galería Histórica </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!--Documentación menu-->
                <!--Publicidad menu-->

                <li class="nav-item dropdown">
                    <a class="has-arrow dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-book"></i><span class="hide-menu">Publicidad</span>
                    </a>
                    <ul aria-expanded="false" class="collapse dropdown-menu">
                        <li>
                            <a routerLink="/aliados" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-book"></i><span>Logos Aliados </span>
                            </a>
                        </li>

                        <li>
                            <a routerLink="/banner-cuadrado" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-image-album"></i><span>Bann Cuadrado </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/banner-horizontal" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-image-album"></i><span>Bann Horizontal </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/banner-vertical" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-image-album"></i><span>Bann Vertical </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--Publicidad menu-->
                <!--Otras menu-->

                <li class="nav-item dropdown">
                    <a class="has-arrow dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-book"></i><span class="hide-menu">Otras Publicaciones</span>
                    </a>
                    <ul aria-expanded="false" class="collapse dropdown-menu">
                        <li>
                            <a routerLink="/revista" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-file-pdf"></i><span>Revista </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/slider" routerLinkActive="active" class="waves-effect waves-dark">
                                <i class="mdi mdi-image"></i><span>Slider Home </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <!--Otras menu-->

                <!--Configuracion menu-->

                <li>
                    <a routerLink="/configuracion" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-bullseye"></i><span class="hide-menu">Configuración Básica  </span>
                    </a>
                </li>



                <!--li>
                    <a routerLink="/congreso" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="fa fa-dollar"></i><span class="hide-menu">Pagos Congreso </span>
                    </a>
                </li-->


                <!--li>
                    <a routerLink="/news-instagram" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-instagram"></i><span class="hide-menu">News Instagram </span>
                    </a>
                </li-->

                <!--li>
                    <a routerLink="/usuarios" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-account-search"></i><span class="hide-menu">Usuarios </span>
                    </a>
                </li-->

                <!--li>
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-email"></i><span class="hide-menu">Educación</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/usuarios">Usuarios</a></li>
                        <li><a routerLink="/timeline">Timeline</a></li>
                    </ul>
                </li-->
                <!--li>
                    <a routerLink="/contactos" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-mailbox"></i><span class="hide-menu">Contactos </span>
                    </a>
                </li-->


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->