<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a routerLink="/admin" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-bullseye"></i><span class="hide-menu">Home </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/directorio" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-book"></i><span class="hide-menu">Directorio </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/afiliaciones" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-book"></i><span class="hide-menu">Afiliaciones </span>
                    </a>
                </li>
                <!--li>
                    <a routerLink="/congreso" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="fa fa-dollar"></i><span class="hide-menu">Pagos Congreso </span>
                    </a>
                </li-->
                <li>
                    <a routerLink="/blog" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-newspaper"></i><span class="hide-menu">Blog </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/pacientes" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-newspaper"></i><span class="hide-menu">Tips Pacientes </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/formacion" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-newspaper"></i><span class="hide-menu">Formación </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/revista" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-file-pdf"></i><span class="hide-menu">Revista </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/slider" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-image"></i><span class="hide-menu">Slider Home </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/aliados" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-book"></i><span class="hide-menu">Logos Aliados </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/documentos" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-file-document"></i><span class="hide-menu">Documentos </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/galeria" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-image-album"></i><span class="hide-menu">Galería Histórica </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/banner-cuadrado" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-image-album"></i><span class="hide-menu">Bann Cuadrado </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/banner-horizontal" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-image-album"></i><span class="hide-menu">Bann Horizontal </span>
                    </a>
                </li>
                <li>
                    <a routerLink="/banner-vertical" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-image-album"></i><span class="hide-menu">Bann Vertical </span>
                    </a>
                </li>
                <!--li>
                    <a routerLink="/usuarios" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-account-search"></i><span class="hide-menu">Usuarios </span>
                    </a>
                </li-->

                <!--li>
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-email"></i><span class="hide-menu">Educación</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/usuarios">Usuarios</a></li>
                        <li><a routerLink="/timeline">Timeline</a></li>
                    </ul>
                </li-->
                <!--li>
                    <a routerLink="/contactos" routerLinkActive="active" class="waves-effect waves-dark">
                        <i class="mdi mdi-mailbox"></i><span class="hide-menu">Contactos </span>
                    </a>
                </li-->


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
