.required {
    color: red;
}

.redes {
    display: grid;
    /* grid-template-columns: repeat(5, 20%); */
    grid-auto-flow: column;
    grid-template-columns: max-content;
    grid-template-rows: repeat(7, 7%);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
}

.switch {
    display: flex;
}

.direcciones {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-columns: 80px 1fr;
    grid-template-rows: 110px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    box-shadow: var(--shadow);
}

.direcciones .item1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--green-gray);
    border-radius: 4px;
    margin-right: 2px;
}

.direcciones .item2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--green-gray);
    border-radius: 4px;
    padding-left: 10px;
}

.col-md-6 {
    display: inline-block;
}