<div class="row page-titles">
    <div class="col-12 animated fadeInLeft">
        <div class="card cardtop">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-10 align-self-center">
                        <h3 class="text-themecolor">{{pageTitle}}</h3>
                    </div>
                    <div class="col-12 col-sm-2">
                        <button class="btn btn-outline-danger" href="javascript:void(0)" (click)="goBack()">Volver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal form-material" (ngSubmit)="guardarDirectorio()" [formGroup]="directorioForm">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 m-t-10">
                            <div class=" col-md-6">
                                <label>Nombres <span class="required">*</span></label>
                                <input type="text" formControlName="nombre" value="nombre" class="form-control" required>
                                <div *ngIf="directorioForm.controls.nombre.errors?.required && nombre.invalid && (nombre.dirty || nombre.touched) && mostrarMensajesVU" class="error" severity="danger" text="{{ campoObligatorio }}"></div>
                                <!-- <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="error">
                                    <div *ngIf="nombre.errors?.required">
                                        Campo requerido.
                                    </div>
                                </div> -->
                            </div>
                            <div class=" col-md-6">
                                <label>Apellidos <span class="required">*</span></label>
                                <input type="text" formControlName="surname" value="surname" class="form-control" required>
                                <!-- <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="error">
                                    <div *ngIf="surname.errors">
                                        Campo requerido.
                                    </div>
                                </div> -->
                            </div>

                            <div class=" col-md-6">
                                <label for="exampleInputEmail1">Especialidad <span class="required">*</span></label>
                                <input type="text" formControlName="especialidad" value="especialidad" class="form-control" required>
                                <!-- <div *ngIf="especialidad.invalid && (especialidad.dirty || especialidad.touched)" class="error">
                                    <div *ngIf="especialidad.errors">
                                        Campo requerido.
                                    </div>
                                </div> -->
                            </div>
                            <div class=" col-md-6">
                                <label for="exampleInputEmail1">Universidad <span class="required">*</span></label>
                                <input type="text" formControlName="universidad" class="form-control" required>

                            </div>
                            <div class=" col-md-6">
                                <label for="exampleInputEmail1">Año de Graduación </label>
                                <input type="text" formControlName="ano" class="form-control">

                            </div>
                            <div class=" col-md-6">
                                <label for="exampleInputEmail1">Sitio Web </label>
                                <input type="text" formControlName="website" value="website" class="form-control">
                            </div>

                            <div class=" col-md-6">
                                <label for="exampleInputEmail1">Email<span class="required">*</span></label>
                                <input type="text" formControlName="email" value="email" class="form-control" required>

                            </div>

                            <div class=" col-md-6">
                                <label for="exampleInputEmail1">Estado</label>
                                <input type="text" formControlName="estado" class="form-control">
                            </div>
                            <div class=" col-md-6">
                                <label for="exampleInputEmail1">Ciudad</label>
                                <input type="text" formControlName="ciudad" class="form-control">
                            </div>
                            <div class=" col-md-6">
                                <label for="exampleInputEmail1">Teléfonos</label>
                                <input type="text" formControlName="telefonos" class="form-control">
                            </div>

                            <div class=" col-md-6">
                                <label for="exampleInputEmail1">Teléfonos Principal  <span class="required">*</span></label>
                                <input type="text" formControlName="telprincipal" value="telprincipal" class="form-control" required>

                            </div>
                            <div class=" col-md-6">
                                <label for="exampleInputEmail1">Teléfonos Adicional(Opcional)</label>
                                <input type="text" formControlName="tel1" value="tel1" class="form-control">
                            </div>
                            <div class=" col-md-6">
                                <label for="exampleInputEmail1">Teléfonos Móvil  </label>
                                <input type="text" formControlName="telmovil" value="telmovil" class="form-control">

                            </div>
                            <div class=" col-md-6">
                                <label for="exampleInputEmail1">Teléfonos Home(Opcional)</label>
                                <input type="text" formControlName="telhome" value="telhome" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <label>Dirección <span class="required">*</span></label>
                                <div class="col-md-12">
                                    <ckeditor [editor]="Editor" (ready)="onReady($event)" data="<p>Hello, world!</p>" formControlName="direccion" value="direccion" rows="5" class="form-control" required></ckeditor>

                                </div>
                            </div>
                            <div class="col-md-12">

                                <label>Dirección Adicional (Opcional)</label>
                                <ckeditor [editor]="Editor1" (ready)="onReady($event)" data="<p>Hello, world!</p>" formControlName="direccion1" value="direccion1" rows="5" class="form-control"></ckeditor>

                            </div>

                        </div>

                        <!----//-->
                        <div class="col-xs-12 col-sm-3 m-t-10">
                            <div class="form-group form-row">
                                <p>Subir Imagen (peso max: 500kb | medidas max: 226x226px | formato jpg)</p>
                                <div class="col-xs-12">
                                    <input type="file" id="image" (change)="onSelectedFile($event)" />
                                    <div [innerHTML]="uploadError" class="error"></div>
                                    <div *ngIf="imagePath">
                                        <br />
                                        <img [src]="imagePath" width="50%" value="photo" class="shadow">
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <h2>Redes Sociales</h2>
                                </div>
                                <div class="clear"></div>
                                <div class="redes">
                                    <div class="switch">
                                        <i class="fa fa-facebook-square fa-2x" style="margin-right: 5px;"></i>
                                        <input type="text" class="form-control" formControlName="facebook" value="facebook">
                                    </div> <br><br>
                                    <div class="switch">
                                        <i class="fa fa-instagram fa-2x" style="margin-right: 5px;"></i>
                                        <input type="text " class="form-control" formControlName="instagram" value="instagram">
                                    </div> <br><br>
                                    <div class="switch">
                                        <i class="fa fa-twitter-square fa-2x" style="margin-right: 5px;"></i>
                                        <input type="text" class="form-control" formControlName="twitter" value="twitter">
                                    </div> <br><br>
                                    <div class="switch">
                                        <i class="fa fa-linkedin-square fa-2x" style="margin-right: 5px;"></i>
                                        <input type="text" class="form-control" formControlName="linkedin" value="linkedin">
                                    </div>
                                </div>

                            </div>
                            <div class="col-xs-12">
                                <h2>Codigo Vcard QR</h2>
                                <br>
                                <qr-code *ngIf="display" class="code" id="box" [value]="vCardInfo" [size]="250">
                                    <img class="yellow">
                                </qr-code>
                                <a *ngIf="display" [href]="href" (click)="downloadImage()" download>Download Image</a>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" formControlName="id">
                    <button class="btn btn-outline-success waves-effect waves-light m-r-10" type="submit" [disabled]="!directorioForm.valid">Guardar</button>


                </form>


            </div>
            {{error}}
        </div>
    </div>
</div>