<div class="row page-titles">
    <div class="col-12 animated fadeInUp">
        <div class="card cardtop">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 align-self-center">
                        <h3 class="text-themecolor">{{title}}</h3>
                    </div>
                    <div class="col-xs-12 col-sm-6 botones pull-right">
                        <button class="btn btn-outline-danger" href="javascript:void(0)" (click)="goBack()">Volver</button>
                        <button class="btn btn-success" [routerLink]="['/directorio/create/']">Agregar Nuevo</button>
                        <button class="btn btn-success" [routerLink]="['/directorio/buscar/']"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">


    <div class="row">
        <div class=" col-12">
            <div class="row">
                <div class="clear"></div>

                <!--Including the pagination control.-->
                <div class="col-xs-12 col-sm-12 mt-4 mb-4">
                    <div class="text-center">
                        <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-xs-12 col-sm-6 col-md-4 fr-view card-m" *ngFor="let directorio of directorios | keys | paginate: { itemsPerPage: count, currentPage: p }">
                    <div class=" card " style="padding: 10px; border-radius: 10px;">
                        <div class="carbodymovil">
                            <div class="col-xs-12">
                                <div class="elementos">

                                    <div class="infodir">
                                        <div *ngIf="!directorio.image">
                                            <div class="photo">
                                                <img src="assets/img/logo.png" class="circle">
                                            </div>
                                        </div>
                                        <div *ngIf="directorio.image">
                                            <div class="photo">
                                                <img src="{{directorio.image}}" class="circle">
                                            </div>
                                        </div>
                                        <h5 class="card-title"><b>{{directorio.surname}}, {{directorio.nombre}} </b></h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{directorio.especialidad}}</h6>
                                        <h6 class="card-subtitle mb-2 text-muted">{{directorio.ciudad}}</h6>
                                    </div>
                                    <div class="botonesss">
                                        <button class="btn btn-outline-danger" (click)="onDelete(directorio.id)"><i class="fa fa-trash"></i>Borrar</button>
                                        <a [routerLink]="['/directorio/edit', directorio.id]"><button class="btn  btn-outline-primary"><i class="fa fa-pencil"></i>Editar </button></a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>
</div>
<!--Including the pagination control.-->
<div class="col-xs-12 col-sm-12 mt-4 mb-4">
    <div class="text-center">
        <pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
    </div>
</div>