.card a {
    text-decoration: none;
    color: #333;
    transition: all .3s;
}

.card a:hover {
    color: rgb(7, 123, 168);
}

.card-body {
    height: 120px;
    border-radius: 8px;
}

.card-body i {
    font-size: 30px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 14px;
    text-align: center;
    display: block;
    margin: auto;
}