<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer"> <small>Admin - [ SVCBMF ] 2019 - {{ year }} | Desarrollado por: <a href="https://malcolmcordova.com" target="_blank">Malcolm Córdova</a></small> </footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->